.color{
  font-size: 20px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;

  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  background: #FBBF24;

}
.fontuser{
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  width: 69px;
  height: 16px;
margin-left: 20px;
}
.fontacc{
  font-size: 28px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
  width: 251px;
  height: 35px;
  margin-left: 20px;

}

.for{
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 20px;

}
